{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block content %}

<div>
    <div class="bg-dark mx-auto mt-5 p-5 rounded-5" style="width: fit-content; height: fit-content; min-width: 30%;">
        <div class="row text-light mx-auto my-4 fs-1" style="width: fit-content;">Log in</div>

        {% if form.errors %}
        <div class="row" style="color: crimson;">
            <p class="text-center fs-5">{{ form.errors }}</p>
        </div>
        {% endif %}

        <div class="row">
            <form method="POST" action="{% url 'users:login' %}">
                {% csrf_token %}

                <div class="form-floating mb-3">
                    <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="Username" required value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                    <label for="floatingUsername">Username</label>
                    {% if form.username.errors %}
                    <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                    {% endif %}
                </div>

                <div class="form-floating mb-4">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="row mb-4">
                    <a href="{% url 'users:signup' %}" class="text-light text-center">Don't have an account? Registration</a>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-primary fs-4">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}