{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block content %}

<div>
    <div class="bg-dark mx-auto mt-5 p-5 rounded-5" style="width: fit-content; height: fit-content; min-width: 30%;">
        <div class="row text-light mx-auto my-4 fs-1" style="width: fit-content;">Sign up</div>
        
        {% if error %}
        <div class="row" style="color: crimson;">
            <p class="text-center fs-5">{{ error }}</p>
        </div>
        {% endif %}
        
        <div class="row">
            <form method="POST" action="{% url 'users:signup' %}">
                {% csrf_token %}

                <div class="form-floating mb-3">
                    <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="Username">
                    <label for="floatingUsername">Username</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" name="password1" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="form-floating mb-4">
                    <input type="password" name="password2" class="form-control" id="floatingPassword2" placeholder="Password2">
                    <label for="floatingPassword2">Confirm password</label>
                </div>

                <div class="row mb-4">
                    <a href="{% url 'users:login' %}" class="text-light text-center">Already have an account? Log in</a>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-primary fs-4">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}