{% extends 'base.html' %}

{% load static %}

{% block title %}Cart{% endblock %}
{% block content %}

<div class="container my-5">
    {% if cart_items %}
    <div class="row m-0 mb-5 p-0">
        {% for cart_item in cart_items %}
        <div class="row g-4 card-hover" style="border: 1px solid #ccc; border-radius: 15px;">
            <div class="col-auto">
                <a href="{% url 'products:product_detail' cart_item.product.slug %}">
                    <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}" style="width: 220px;">
                </a>
            </div>
            <div class="col">
                <a class="card-title fs-5 fw-bold text-decoration-none" 
                    href="{% url 'products:product_detail' cart_item.product.slug %}">{{ cart_item.product.name }}</a>
            </div>
            <div class="col-auto">
                <div class="row fs-3">
                    <div class="col">
                        <a href="#" class="btn btn-dark btn-md">{% csrf_token %}-</a>
                    </div>
                    <div class="col my-auto">
                        {{ cart_item.quantity }}
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-dark btn-md">{% csrf_token %}+</a>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row mt-auto">
                    {% if cart_item.product.discount %}
                    <p class="fs-3 mt-auto">
                        <span class="me-3">x {{ cart_item.product.get_sell_price}} ₽</span>
                        <strike style="color: gray;">{{ cart_item.product.price }} ₽</strike>
                    </p>
                    {% else %}
                    <p class="fs-3 mt-auto">x {{ cart_item.product.get_sell_price }} ₽</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-auto fs-3">
                =
            </div>
            <div class="col-auto">
                <span class="fs-3"><b>{{ cart_item.products_sell_price }} ₽</b></span>
            </div>
            <div class="col-auto">
                <div class="row g-3">
                    <div class="col">
                        <a href="{% url 'cart:cart_remove' cart_item.product.slug %}">
                            <img src="{% static 'img/trash.png' %}" alt="Удалить" style="width: 30px;">
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'favorites:favorites_change' cart_item.product.slug %}">
                            <img src="{% static 'img/heart.png' %}" alt="В избранное" style="width: 30px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row m-0 p-4" style="border: 1px solid #ccc; border-radius: 15px;">
        <div class="col my-auto">
            <span class="fs-4">Итого: <b>{{ cart_items.total_quantity }}</b> товаров(-а) на сумму <b>{{ cart_items.total_sell_price }} ₽</b></span>
        </div>
        <div class="col-auto">
            <a href="#" class="btn btn-dark fs-4">Заказать</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}