{% load static %}
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <ul class="nav col-auto m-0 me-3 justify-content-center">
          <li><a href="{% url 'products:index' %}" class="nav-link px-2 text-white fw-bold">Home</a></li>
          {% if user.is_superuser %}
          <li><a href="{% url 'admin:index' %}" class="nav-link px-2 text-white">Admin panel</a></li>
          {% endif %}
        </ul>

        <form class="col row m-0 mx-5">
          <input type="search" class="col form-control form-control-dark me-2" placeholder="Search..." aria-label="Search">
          <a href="#" type="button" class="col-auto btn btn-outline-light">Search</a>
        </form>

        {% if request.user.is_authenticated %}
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link text-white fs-4 dropdown-toggle header-btn py-1 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a></li>
                </ul>
            </li>
        </ul>
        {% else %}
        <div class="text-end">
          <a href="{% url 'users:login' %}" type="button" class="btn btn-outline-light me-2">Login</a>
          <a href="{% url 'users:signup' %}" type="button" class="btn btn-dark">Sign-up</a>
        </div>
        {% endif %}
      </div>
    </div>
  </header>