{% load static %}
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
          <li><a href="{% url 'products:index' %}" class="nav-link px-2 text-white fw-bold">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        {% if request.user.is_authenticated %}
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link text-white fs-4 dropdown-toggle header-btn py-1 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a></li>
                </ul>
            </li>
        </ul>
        {% else %}
        <div class="text-end">
          <a href="{% url 'users:login' %}" type="button" class="btn btn-outline-light me-2">Login</a>
          <a href="{% url 'users:signup' %}" type="button" class="btn btn-dark">Sign-up</a>
        </div>
        {% endif %}
      </div>
    </div>
  </header>